footer{
    background-color: gray;
    color:antiquewhite
}


nav{
    background-image: url(https://c7.alamy.com/compes/fd566w/placa-base-de-pc-fd566w.jpg);

    color:antiquewhite;
}

a{
    text-decoration: none;
    background-color: antiquewhite;
    color:black;
    
}