footer{
    background-color: gray;
    color:antiquewhite
}


nav{
    background-image: url(https://c7.alamy.com/compes/fd566w/placa-base-de-pc-fd566w.jpg);

    color:antiquewhite;
}

a{
    text-decoration: none;
    background-color: antiquewhite;
    color:black;
    
}

.Pregunta{
    color:black;
}

.accordion {
    background-color: #eee;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  .Respuesta {
    background-color: #eee;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }