@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@100&display=swap');
:root{
  font-size: 16px;
  --font-grl:  'Roboto', sans-serif;
  /*COLORES*/
  --backgroundcolor:rgba(76,76,255,1);
  --fontColor:rgba(255, 255, 255, 0.986);
  
}
*{
margin: 0;
padding: 0;
font-family:var(--font-grl);
}
/*header*/

nav{
  height: 20%;
  background-image: url(https://c7.alamy.com/compes/fd566w/placa-base-de-pc-fd566w.jpg);
  bottom: 0%;
  color:var(--fontcolor);
}
nav>h1{
  background-color: var(--backgroundcolor);
  color:var(--fontcolor);
  border-color: blue;
}
a{
  text-decoration: none;
  background-color: var(--backgroundcolor);
  color:var(--fontcolor);
  
}
header{
  height: 30%;
}
/*Footer*/

footer{
  background-color: gray;
    color:var(--fontcolor);
    bottom:0%;
}

/*body*/
body{
  height: 200vh;
}


img{
  border: 1px solid red
}

/*Faq*/
.Pregunta{
    color:var(--fontcolor);
}

.accordion {
    background-color: #eee;
 
    cursor: pointer;
    padding: 1%;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  .Respuesta {
    background-color: #eee;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 95%;
    text-align: left;
    border: none;
    outline: none;
  }

.active, .accordion:hover {
    background-color: #ccc;
  }
  

  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }




